@tailwind base;
@tailwind components;
@tailwind utilities;

/* デフォルトのカラーテーマ（ライトモード） */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* ユーザーのシステム設定がダークモードの場合に適用 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #72dfd6;
    --foreground: #35377a;
  }
}

/* 全体のスタイル設定 */
body {
  color: var(--foreground);      /* 文字色にカラー変数を適用 */
  background: var(--background); /* 背景色にカラー変数を適用 */
  font-family: Arial, Helvetica, sans-serif;  /* フォントファミリーの設定 */
}
